.wrapper {
	display: grid;
	grid-template-rows: 400px 400px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'background-img background-img background-img'
											 'background-img background-img background-img';
} 

.background {
	grid-area: background-img;
	background-image: url('sunny-day.jpg');
  background-size: cover;
	background-repeat: no-repeat;
	z-index: 0;
}

.kitten {
  grid-area: kitten;
  background-image: url('kitten-medium.png');
  background-repeat: no-repeat;
  background-size: contain;
	height: 275px;
  width: 448px;
  position: relative;
  top: 64%;
  left: 400px;
  z-index: 1;
}

@media screen and (max-width: 1025px) {
	.wrapper {
		grid-template-rows: 250px 250px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'background-img background-img'
												 'background-img background-img';
	}

	.background {
		background-image: url(night.jpg);
    background-size: cover;
	}

  .kitten {
    background-image: url(kitten-small.png);
    height: 271px;
    top: 40%;
    left: 315px;
  }
}

@media screen and (max-width: 961px) {
  .wrapper {
    grid-template-rows: 250px 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'background-img background-img'
                         'background-img background-img';
  }

  .background {
    background-image: url(dawn.png);
    background-size: cover;
  }

  .kitten {
    background-image: url(kitten-large.png);
    height: 271px;
    top: 40%;
    left: 315px;
  }
}